*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 20px;
}
.title{
    height: 50px;
    padding-left: 10px;
    background-color: #2d98da;
    color: #fff;
    line-height: 50px;
}
#map{
    margin-top: 10px;
    width: calc(100vw - 40px);
    height: calc(100vh - 100px);
}